<!DOCTYPE html>
<html>
    <head>
        <title>About Responsive Site View</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="../css/app.css"/>
    </head>
    <body>
        <div id="about">
            <h1 class="title"><img id="logo" src="../icon-64.png" alt="" />About</h1>
            <p>This Chrome extension helps web designers to take screenshots of their websites at the dimensions they will be seen at on popular mobile devices for demonstration purposes.</p>
            <p>Please be aware that this extension does not emulate the devices listed. It simply renders websites via the Chrome browser at the specified dimensions.</p>
            <p>The dimensions listed are browser viewport sizes rather than device screen resolutions. These are the dimensions at which the browser would render websites.
            <p>You will still need to test your website on lots of real devices. Why not start or contribute to a local device library? <a href="http://lab-up.org/" target="_blank">See LabUp! for more details..</a></p>
            <footer>
                <p><small>This extension is by <b><a href="http://nimbleworks.co.uk" target="_blank">NimbleWorks</a></b> in association with the <a href="http://www.exeter-web.org/device-library/" target="_blank">Exeter Web device library</a>.</small></p>
            </footer>
        </div>
    </body>
</html>
