<!DOCTYPE html>
<html>
    <head>
        <title>About Responsive Site View</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="../css/app.css"/>
    </head>
    <body>
        <div id="about">
            <h1 class="title">Web page not loading?</h1>
            <p>The web page you are trying to preview could be down or experiencing problems.</p>
            <p>However, some websites disallow being viewed in a frame. If this is your own website you can try changing or removing 'x-frame-options' from the header information.</p>
        </div>
    </body>
</html>
