<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Responsive Site View</title>
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="../css/app.css"/>
        <script src="../js/lib/angular.min.js"></script>
        <script src="../js/lib/nim-element-snap-shot/src/nimElementSnapShot.js"></script>
        <script src="../js/main.js"></script>
        <script src="../js/webViewDirective.js"></script>
        <script src="../js/byWidthHeightFilter.js"></script>
        <script src="../js/chromeApiService.js"></script>
        <script src="../js/devicesService.js"></script>
    </head>
    <body ng-app="rsv.main" ng-csp role="application">
        <div id="tab" ng-controller="mainController">
            <header id="tabHeader" class="group">
                <h1 id="tabTitle" class="title"><img id="logo" src="../icon-48.png" alt="" />Responsive Site View</h1>
                <div id="panel">
                    <div class="panel-col">
                        <label for="fieldUrl">URL:</label>
                        <input id="fieldUrl" class="input" name="url" type="url" ng-model="newURL" ng-blur="onSelectURL(newURL)" nim-enterkey="onSelectURL(newURL)" required />
                        <input id="urlReload" name="submit" type="submit" value="Reload" ng-click="reloadURL()" />
                    </div>
                    <div class="panel-col">
                        <label for="fieldDevice">View as:</label>
                        <select id="fieldDevice" class="input" ng-model="selectedDevice" ng-options="(device.width + 'x' + device.height + ' ' + device.name) for device in deviceList">
                            <option value="">Custom</option>
                        </select>
                    </div>
                    <div class="panel-col">
                        <label for="deviceWidth"><abbr title="width">w</abbr></label>
                        <input id="deviceWidth" type="number" title="width" class="inputInt" ng-model="selectedWidth" ng-change="onChangeWidthHeight()" />
                        <label for="deviceHeight"><abbr title="height">h</abbr></label>
                        <input id="deviceHeight" type="number" title="height" class="inputInt" ng-model="selectedHeight" ng-change="onChangeWidthHeight()" />
                    </div>
                    <div class="panel-col">
                        <button id="btnRotate" title="{{ getRotateTitle() }}" ng-disabled="selectedDevice && !selectedDevice.orientation" ng-click="onRotateBtn()" title="{{{true:'Rotate device', false:'This device does not rotate'}[selectedDevice.orientation]}}">
                            <span ng-show="!landscape">Landscape</span>
                            <span ng-show="landscape">Portrait</span>
                        </button>
                        <button id="btnCapture" ng-click="captureWebView()" title="Take a snapshot">Capture</button>
                    </div>
                </div>
            </header>
            <div id="main">
                <div id="holder" style="width: {{ selectedWidth }}px; height:{{ selectedHeight }}px;">
                    <rsv-web-view></rsv-web-view>
                </div>
                <div id="holder-foot"><a href ng-click="onDeniedBtn()">Page not loading?</a></div>
            </div>
            <footer id="footer">
                <a href ng-click="onAboutBtn()">About this extension</a>
                <div>Contribute to the <a target="_blank" href="https://github.com/Nimbleworks/device-browser-viewports">device list</a> or <a target="_blank" href="https://github.com/Nimbleworks/responsive-site-view">this extension</a> on GitHub</div>
                <div id="extLinks">
                    <a id="attr" href="http://nimbleworks.co.uk/responsive-site-view" target="_blank"><small>Responsive Site View by Nimbleworks LLP</small></a>
                </div>
            </footer>
        </div>
    </body>
</html>